section {
	position: absolute;
	top: 0; 
	left: 250px; right: 0;
	bottom: 45px;
}
/**
 * Aside navigation
 */
aside {
	position: fixed;
	left: 0;
	top: 65px;
	bottom: 45px;
	width: 250px;
	background: #eee;
}
aside button {
	cursor: pointer;
	background: none;
	border: none;
	font-size: 13px;
	padding: 10px 0;
	width: 100%;
	color: #111F50;
	text-decoration: none;
	text-align: left;
}
aside button:hover {
	background: #888;
	color: #fff;
}
aside button.active {
	background: #666;
	color: #fff;
}
aside button span {
	text-align: center;
	width: 40px;
}
aside button span:nth-child(2) {
	float: right;
}
section form {
	position: relative;
	padding: 10px;
	margin: 0;
}
section form:nth-child(even) {
	background: #efefef;
}
section form:nth-child(odd) {
	background: #f9f9f9
}
section form button {
	width: 100px;
	height: 40px;
	position: absolute;
}
section form button:nth-child(2) {
	top: 10px;
	right: 10px;
}
section form button:nth-child(3) {
	bottom: 10px;
	right: 10px;
}
section form button:nth-child(4) {
	bottom: 10px;
	right: 120px;
}
section form button[type="button"] span {
	padding-right: 10px;
}
section form h2 {
	margin: 0;
}